In [97]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(pd.read_csv('/train (1).csv'))
df.head()

In [ ]:
df.shape[0] * 35/100

In [ ]:
df.isnull().sum()

In [ ]:
# df.isnull().sum()returns a panda series with columns name as the label index
# and total count of null values in the column as it's  value
# And we are storing only those columns which have more than 35% of the data missing

X = df.isnull().sum()

drop_col = X[X>(35/100 * df.shape[0])]
drop_col

In [ ]:
drop_col.index

In [ ]:
df.drop(drop_col.index, axis=1, inplace=True)
df.isnull().sum()

In [ ]:
df.fillna(df.mean(), inplace = True)
df.isnull().sum()

In [ ]:
df['Embarked'].describe()

In [106]:
df['Embarked'].fillna('S',inplace=True)

In [ ]:
df.isnull().sum()       ##NOW ALL THE NULL VALUES HAS BEEN FILLED

In [ ]:
df.corr()

In [ ]:
df['FamilySize'] = df['SibSp']+df['Parch']
df.drop(['SibSp', 'Parch'], axis=1, inplace=True)
df.corr()

In [ ]:
df['Alone'] = [0 if df['FamilySize'][i]>0 else 1 for i in df.index]
df.head()

In [ ]:
df.groupby(['Alone'])['Survived'].mean()

In [ ]:
df[['Alone','Fare']].corr()

In [ ]:
df['Sex'] = [0 if df['Sex'][i]=='male' else 1 for i in df.index] #1 for female 0 for male
df.groupby(['Sex'])['Survived'].mean()

In [ ]:
df.groupby(['Embarked'])['Survived'].mean()